button {
  border: 0;
  padding: 8px;
  border-radius: 5px;
  background-color: lime;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  width: 80px;
  font-weight: 600;
  font-size: 14px;
  color: rgb(139, 46, 206);
}

button:active {
  width: 75px;
  transition: 0.5s;
}

button:disabled {
  filter: brightness(0.65);
}

button:disabled:hover {
  transition: 0.5s;
  filter: brightness(0.5);
  cursor: not-allowed;
}
