.oi {
  width: 80px;
  border-radius: 5px;
}

.Alive {
  background-color: rgba(173, 216, 230, 0.75);
}

.Dead,
.unknown {
  background-color: rgba(240, 128, 128, 0.75);
}

.oi h1 {
  font-size: 10px;
  font-family: sans-serif;
  padding-top: 5px;
  color: rgb(224, 224, 224);
}
.oi img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  .oi {
    width: 100px;
  }

  .oi h1 {
    font-size: 12px;
  }

  .oi img {
    width: 80px;
    height: 80px;
  }
}
