ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  gap: 10px;
  justify-content: center;
}

ul li {
  text-align: center;
  list-style: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (min-width: 768px) {
  ul {
    max-width: 800px;
  }
}
